<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"
      aria-expanded="false">
      <i class="bi bi-box-seam"></i><span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <% if (user.RoleId==1) { %>
      <li>
        <a href="/inventario/registro">
          <i class="bi bi-circle"></i><span>Ingresar mercancía</span>
        </a>
      </li>
      <% } %>
      <li>
        <a href="/inventario/franela">
          <i class="bi bi-circle"></i><span>Franelas</span>
        </a>
      </li>
      <li>
        <a href="/inventario/producto">
          <i class="bi bi-circle"></i><span>Productos</span>
        </a>
    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="/venta">
      <i class="bi bi-person"></i>
      <span>Venta</span>
    </a>
  </li>

  <% if (user.RoleId==1) { %>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
        <i class="bi bi-clipboard-data-fill"></i><span>Reportes</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/reporte/cliente">
            <i class="bi bi-circle"></i><span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="/reporte/factura">
            <i class="bi bi-circle"></i><span>Facturas</span>
          </a>
        </li>
        <li>
          <a href="/reporte/inventario">
            <i class="bi bi-circle"></i><span>Inventario</span>
          </a>
        </li>
        <li>
          <a href="/reporte/venta">
            <i class="bi bi-circle"></i><span>Venta</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
        <i class="bi bi-trash"></i><span>Papelera</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/registro/franela">
            <i class="bi bi-circle"></i><span>Franelas</span>
          </a>
        </li>
        <li>
          <a href="/registro/producto">
            <i class="bi bi-circle"></i><span>Productos</span>
          </a>
        </li>
        <li>
          <a href="/registro/usuario">
            <i class="bi bi-circle"></i><span>Usuarios</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-wrench"></i><span>Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/usuario">
            <i class="bi bi-circle"></i><span>Gestionar usuarios</span>
          </a>
        </li>
        <li>
          <a href="/impuesto">
            <i class="bi bi-circle"></i><span>Configurar Impuestos</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-server"></i><span>Mantenimiento</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/mantenimiento/compactar">
            <i class="bi bi-circle"></i><span>Compactar base de datos</span>
          </a>
        </li>
        <li>
          <a href="/mantenimiento/respaldar">
            <i class="bi bi-circle"></i><span>Respaldar base de datos</span>
          </a>
        </li>
        <li>
          <a href="/mantenimiento/restaurar">
            <i class="bi bi-circle"></i><span>Restaurar base de datos</span>
          </a>
        </li>
      </ul>
    </li>

    <% } %>

      <li class="nav-item">
        <a class="nav-link collapsed" id="salir" href="/salir">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Salir</span>
        </a>
      </li>

</ul>