<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>WCH</title>
  <link href="../../images/favicon.png" rel="icon">
  <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../css/style.css" rel="stylesheet">