<div class="card">
    <div class="card-body">
      <h5 class="card-title">Facturas</h5>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Factura</th>
            <th scope="col">...</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>