<div class="col-lg-12 ">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <form action="/reporte/cliente" method="get" class="row g-3 mb-3">
                <div class="col-md-1">
                    <input type="number" class="form-control" placeholder="Tamaño" name="size">
                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control" placeholder="Pagina" name="page">
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" placeholder="Cedula" name="cedula">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" href="/reporte/cliente/reporte">Generar reporte</a>
                </div>
            </form>
            
            <%- include('../../message/alert') %>
            <%- include('../../message/success') %>

        </div>
    </div>
</div>