<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <%- include('../partials/header') %>
  </header>

  <aside id="sidebar" class="sidebar">
    <%- include('../partials/aside') %>
  </aside>
  
  <main id="main" class="main">
    
  </main><!-- End #main -->
  
  <footer id="footer" class="footer">
    <%- include('../partials/footer') %>
  </footer>

  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="javascripts/home.js"></script>

</body>

</html>